
* {
    font-family: sans-serif, Arial, Helvetica;
    background-color: rgb(235, 235, 202);
}


.title {
    font-size: 24px;
    margin-bottom: 120px;
    text-align: center;
    color: #4B371C;
}

.image-container {
    background-color: whitesmoke;
}

.image-container img {
    width: 300px;
    height: 300px;
   object-fit: cover;
   margin-bottom: 50px;
   background-color: whitesmoke;
   }

   #container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 202);
   }

   #conttainer > .content-box {
    width: 33%;
   }
   .content-box {
    margin: auto;
    background-color: whitesmoke;
    
   }

   div a {
    text-decoration: none;
    color: #4B371C;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 20px 0px;
    border: 1px solid rgb(235, 235, 202);
    background-color: whitesmoke;
   }